.app-root {
  display: flex;
  height: 100vh;
  color: #4388dc;
  font-size: 14px;
  line-height: 1.6em;
}

.app-main {
  min-width: 800px;
  width: 100vw;
  padding-left: 180px;
  background-color: #2d333b;
}

.red {
  color: red;
}

/* スクロールバーカスタマイズ */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #394f6b;
}

::-webkit-scrollbar-thumb {
  background-color: #359298;
  border-radius: 5px;
  transition: 0.8s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #49adb4;
  transition: 0.3s;
}
