.itemList__table--container {
  padding-top: 60px;
}

.itemList__table--number {
  text-align: right;
}

.itemList__table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 12px;
  margin: 10px auto;
  text-align: center;
  width: fit-content;
  max-height: calc(100vh - 80px);
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

.itemList__table th,
.itemList__table td {
  border: 1px solid white;
  padding: 3px 8px;
  border-bottom: none;
  border-right: none;
}

.itemList__table td {
  color: rgb(226, 226, 226);
}

.itemList__table tr:nth-child(2n-1) {
  background-color: #1c2128;
}

.itemList__table tr:nth-child(2n) {
  background-color: #13373a;
}

.itemList__table th {
  color: #2d333b;
  background-color: #4388dc;
  text-align: center;
  cursor: pointer;
  position: sticky;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}