.modal__container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  cursor: pointer;
}

.modal__main {
  background-color: blanchedalmond;
  width: 700px;
  height: 500px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
  border: 5px solid #ffbd42;
  border-radius: 8px;
}

.modal__header {
  height: 40px;
  background-color: #ffbd42;
  display: flex;
  align-items: center;
}

.modal__title {
  font-size: 20px;
  font-weight: bold;
  color: #2d333b;
  padding-left: 20px;
}

.modal__close {
  color: #2d333b;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  width: 26px;
  height: 26px;
  background-color: white;
  cursor: pointer;
  margin: 5px 5px auto auto;
}

.modal__body {
  height: 450px;
}