.monsterList__table--container {
  padding-top: 60px;
}

.monsterList__table--number {
  text-align: right;
}

.monsterList__table {
  border-collapse: collapse;
  font-size: 12px;
  margin: 10px auto;
  text-align: center;
}

.monsterList__table th,
.monsterList__table td {
  border: 1px solid white;
  padding: 3px 4px;
}

.monsterList__table td {
  background-color: #1c2128;
}
.monsterList__table th {
  color: #2d333b;
  background-color: #4388dc;
  text-align: center;
}
