.monsterDetail__title {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.monsterDetail__chart--container {
  width: 200px;
  margin: -10px auto 0;
}

.controlPanel {
  text-align: center;
  margin: -10px 0 10px;
}

.button__level {
  width: 35px;
  height: 35px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: aliceblue;
  color: #1c2128;
  font-size: 11px;
  font-weight: bold;
}

.button__level:hover {
  background-color: rgb(202, 215, 226);
}

.button__reset {
  width: 230px;
  margin-top: 6px;
  font-size: 11px;
  border-radius: 3px;
  background-color: #4388dc;
  color: #1c2128;
  font-weight: bold;
}

.button__reset:hover {
  background-color: #62a2ef;
}

.displayLevel {
  min-width: 50px;
  display: inline-block;
  border: 1px solid #55dc43;
  border-radius: 3px;
  padding: 5px;
  margin: 0 2px;
  color: yellow;
}

.monsterDetail__table--container {
  padding-top: 60px;
}

.monsterDetail__table--number {
  text-align: right;
}

.monsterDetail__table {
  border-collapse: collapse;
  font-size: 13px;
  margin: 0px auto;
  text-align: center;
}

.monsterDetail__table th,
.monsterDetail__table td {
  border: 1px solid white;
  padding: 2px 5px;
}

.monsterDetail__table td {
  background-color: #1c2128;
  color: white;
}
.monsterDetail__table th {
  color: #2d333b;
  background-color: #4388dc;
  text-align: center;
}

.monsterDetail__back {
  display: block;
  width: 230px;
  margin: 20px auto 0;
  text-align: center;
  color: #1c2128;
  background-color: #55dc43;
  font-size: 11px;
  font-weight: bold;
  border-radius: 3px;
}

.monsterDetail__back:hover {
  background-color: #2b9d1b;
}