.monsterDetail__title {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.monsterDetail__chart--container {
  width: 200px;
  margin: -10px auto 0;
}

.monsterDetail__chart--label {
  text-align: center;
  color: rgb(200, 200, 200);
  margin-top: -30px;
}

.controlPanel {
  text-align: center;
  margin: 20px auto 10px;
  background-color: #1c2128;
  width: fit-content;
  padding: 5px 10px 10px 10px;
  border-radius: 3px;
}

.controlPanel__label {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 0;
}

.button__level {
  width: 35px;
  height: 35px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: aliceblue;
  color: #1c2128;
  font-size: 11px;
  font-weight: bold;
}

.button__level:hover {
  background-color: rgb(255, 255, 55);
  transition: 0.3s;
}

.button__reset {
  width: 230px;
  margin-top: 6px;
  font-size: 11px;
  border-radius: 3px;
  background-color: #4388dc;
  color: #1c2128;
  font-weight: bold;
}

.button__reset:hover {
  background-color: #62a2ef;
  transition: 0.3s;
}

.displayLevel {
  min-width: 50px;
  display: inline-block;
  border: 1px solid #55dc43;
  border-radius: 3px;
  padding: 5px;
  margin: 0 2px;
  color: yellow;
}

.isMaxLevel {
  color: red;
}

.monsterDetail__table--container {
  padding-top: 60px;
}

.monsterDetail__table--number {
  text-align: right;
}

.monsterDetail__table {
  border-collapse: collapse;
  font-size: 13px;
  margin: 0px auto;
  text-align: center;
}

.monsterDetail__table th,
.monsterDetail__table td {
  border: 1px solid white;
  padding: 2px 5px;
}

.monsterDetail__table td {
  background-color: #1c2128;
  color: white;
}
.monsterDetail__table th {
  color: #2d333b;
  background-color: #4388dc;
  text-align: center;
}

.monsterDetail__back {
  display: block;
  width: 230px;
  margin: 10px auto 0;
  text-align: center;
  color: #1c2128;
  background-color: #2b9d1b;
  font-size: 11px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.monsterDetail__back:hover {
  background-color: #55dc43;
  transition: 0.3s;
}

.monsterDetail__link-another {
  display: block;
  width: 230px;
  margin: 10px auto 0;
  text-align: center;
  color: #1c2128;
  background-color: #dc4343;
  font-size: 11px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.monsterDetail__link-another:hover {
  background-color: #f35757;
  transition: 0.3s;
}

.monsterDetail__calc {
  display: block;
  width: 230px;
  margin: 10px auto 0;
  text-align: center;
  color: #1c2128;
  background-color: #ffbd42;
  font-size: 11px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.monsterDetail__calc:hover {
  background-color: #ffe2ad;
  transition: 0.3s;
}
