.sidebar__container {
  background-color: #1c2128;
  min-height: 100vh;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidebar__button {
  text-align: center;
  cursor: pointer;
  height: 60px;
}

.sidebar__button--link {
  border: 1px solid #55dc43;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}

.sidebar__button--link:hover {
  background-color: #2d333b;
  transition: 0.3s;
}

.button__active {
  color: aqua;
  border-right: none;
  background-color: #2d333b;
}

.sidebar__blank {
  height: calc(100vh - 240px);
  border-right: 1px solid #55dc43;
}